<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="product-list" aria-expanded="false" >
                        <i class="far fa-clock" aria-hidden="true"></i>
                        <span class="hide-menu">Product Card List</span>
                    </a>
                </li>
                <li class="sidebar-item pt-2" >
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"  routerLink="upload-product"
                        aria-expanded="false" >
                        <i class="far fa-clock" aria-hidden="true"></i>
                        <span class="hide-menu">Upload Product</span>
                    </a>
                </li>
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"  routerLink="cms-list"
                        aria-expanded="false" *ngIf="isAdmin">
                        <i class="far fa-clock" aria-hidden="true"></i>
                        <span class="hide-menu">CMS Product</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="user-list"
                        aria-expanded="false" *ngIf="isAdmin">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span class="hide-menu">User List</span>
                    </a>
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="add-user"
                      aria-expanded="false" *ngIf="isAdmin">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      <span class="hide-menu">Add User</span>
                  </a>
              </li>
                <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false" (click)="onLogout()">
                      <i class="fa fa-table" aria-hidden="true"></i>
                      <span class="hide-menu">Logout</span>
                  </a>
              </li>

            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
