<div class="product-grid">
  <div class="product-card" *ngFor="let item of vmSaveProduct">
    <img src="{{ item.imageList.length>0 ? item.imageList[0].imageName : demoImg }}" height="50px" width="50px">
    <h2>{{item.product.productName}}</h2>
    <p>${{item.product.basePrice}}</p>
    <p>Discount: {{item.product.discountPercent}} % </p>
    <p>Discount Price: {{item.product.discountPrice}}</p>
    <p>Quantity: {{item.product.quantity}}</p>
    <button>Add to Cart</button>
  </div>
  <!-- Add more product cards as needed -->
</div>
