<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">productName</th>
        <th scope="col">quantity</th>
        <th scope="col">basePrice</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of vmSaveProduct;index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{item.product.productName}}</td>
        <td>{{item.product.quantity}}</td>
        <td>{{item.product.basePrice}}</td>
        <td>
            <button [routerLink]="['edit/',item.product.productID]">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>